// Colores
$primary-color: #ffffff;
$secondary-color: #89A831;
$tertiary-color: #4E342E;
$tertiary-color-preview: #4e342ed5;
$background-color: #EDEDED;
$background-color-footer: #757575da;

// Tipografías
$font-primary: "Lato", sans-serif;
$font-secondary: "Montserrat", sans-serif;
$font-tertiary: "Abhaya Libre", serif;

